@font-face {
    font-family: "helvetoca-neue-5";
    src: url(./Assets/fonts/helvetica-neue-5/HelveticaNeueBlack.otf);
}

* {
    margin: 0;
    padding: 0;
}

.header {
    padding-top: 28px;
}

.above-black-box {
    position: relative;
    z-index: 2;
}

.box {
    /* background: linear-gradient(rgb(39, 41, 40),rgba(15, 12, 12, 0.8)); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.79) 8.333%, rgba(0, 0, 0, 0.756) 16.67%, rgba(0, 0, 0, 0.7) 25%, rgba(0, 0, 0, 0.622) 33.33%, rgba(0, 0, 0, 0.52) 41.67%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.28) 58.33%, rgba(0, 0, 0, 0.178) 66.67%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.044) 83.33%, rgba(0, 0, 0, 0.01) 91.67%, rgba(0, 0, 0, 0) 100%) */
    background-color: #0f0c0ccc;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.background {
    background-image: url(./Assets/Images/background-image.jpg);
    height: 96vh;
    background-origin: border-box;
    background-size: cover;
    background-position: 0% 15%;
    overflow: hidden;
    justify-content: center;
    width: 100vw;
}

.logo {
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
}

.nav-flex-box {
    display: flex;
    flex-wrap: wrap;
}

.flex-container-nav {
    width: 50vw;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px;
}

.logo-flexbox {
    width: 30vw;
}

.nav-flexbox {
    display: flex;
    padding: 0 9.25rem;
    flex-wrap: wrap;
}

.language-button {
    width: 123.85px;
    color: antiquewhite;
    border-radius: 5px;
    background-color: unset;
    font-family: "Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif";
    font-size: 18px;
    height: 30px;
    border-color: rgba(128, 128, 128, 0.7);
    display: flex;
    justify-content: space-evenly;
    padding-top: 4px;
}

.signin-button {
    border-radius: 4px;
    width: 76.9px;
    height: 30px;
    background-color: rgb(229, 9, 20);
    border: none;
    color: white;
    font-weight: 600;
}

.main-body{
    
}